<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <title>Survey Says</title>
</head>

<body>
    <header>
        <h1>Survey Says</h1>
    </header>
    <main class="main">
        <h2>You are <%= sum %>% alcoholic</h2>
    </main>
</body>
