<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <title>Survey Says</title>
</head>

<body>
    <header>
        <h1>Survey Says</h1>
    </header>
    <main>
        <section class="">
            <h2 class="">Register</h2>
            <form class="register" action="/profilePost" method="post">
                <label for="email">E-mail adres:</label>
                <input name="email" required id="email" type="email" placeholder="abc@email.com" class="">
                <label for="password">Password:</label>
                <input name="password" required id="password" type="password" placeholder="wachtwoord" class="">
                <label for="passwordVerify">Verify password:</label>
                <input name="passwordVerify" required id="passwordVerify" type="password" placeholder="wachtwoord" class="formInput">
                <input type="submit" value="Register" class="formButton" id="">
            </form>
        </section>
    </main>
</body>
