<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <title>Are you an alcololic?</title>
</head>

<body class="body">
    <header>
        <h1>Are you an alcololic?</h1>
    </header>
    <main class="main">

    <h2 class="">Step 3/3</h2>
    <section class="form">
        <form class="survey" action="/surveyThree" method="post">
            <h3>How many times per week do you drink?</h3>
            <input type="radio" id="qSevenAOne" name="question7" value="0">
            <label for="qSevenAOne">1 or less times a week</label>
            
            <input type="radio" id="qSevenATwo" name="question7" value="5">
            <label for="qSevenATwo">2-3 times a week</label>
            
            <input type="radio" id="qSevenAThree" name="question7" value="10">
            <label for="qSevenAThree">4 or more times a week</label>
            
            <h3>When you drink, how many beverages do you consume?</h3>
            <input type="radio" id="qEightAOne" name="question8" value="0">
            <label for="qEightAOne">1 or less</label>
            
            <input type="radio" id="qEightATwo" name="question8" value="5">
            <label for="qEightATwo">2-3</label>
            
            <input type="radio" id="qEightAThree" name="question8" value="10">
            <label for="qEightAThree">4 or more</label>

            <h3>What kind of alcohol do you usually drink?</h3>
          
            <input type="radio" id="qNineAOne" name="question9" value="0">
            <label for="qNineAOne">Light beer or light wine</label>
            
            <input type="radio" id="qNineATwo" name="question9" value="5">
            <label for="qNineATwo">Strong beer or strong wine or liqueur</label>
            
            <input type="radio" id="qNineAThree" name="question9" value="10">
            <label for="qNineAThree">Strong alcoholic drinks</label>

            <input type="submit" value="Show the Answer" class="submit">
        </form>
    </section>      
    </main>
    <script src="js/script.js"></script>
</body>
