<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <title>Are you an alcololic?</title>
</head>

<body class="body">
    <header>
        <h1>Are you an alcololic?</h1>
    </header>
    <main class="main">
        <h2 class="">Step 2/3</h2>
        <section class="form">
            <form class="survey" action="/surveyTwo" method="post">
                <h3>How many times per week do you drink Alone?</h3>
                <input type="radio" id="qFourAOne" name="question4" value="0">
                <label for="qFourAOne">1 or less times a week</label>
                
                <input type="radio" id="qFourATwo" name="question4" value="5">
                <label for="qFourATwo">2-3 times a week</label>
                
                <input type="radio" id="qFourAThree" name="question4" value="10">
                <label for="qFourAThree">4 or more times a week</label>
                
                <h3>When you drink, how many beverages do you consume?</h3>
                <input type="radio" id="qFiveAOne" name="question5" value="0">
                <label for="qFiveAOne">1 or less</label>
                
                <input type="radio" id="qFiveATwo" name="question5" value="5">
                <label for="qFiveATwo">2-3</label>
                
                <input type="radio" id="qFiveAThree" name="question5" value="10">
                <label for="qFiveAThree">4 or more</label>

                <h3>What kind of alcohol do you usually drink?</h3>
              
                <input type="radio" id="qSixAOne" name="question6" value="0">
                <label for="qSixAOne">Light beer or light wine</label>
                
                <input type="radio" id="qSixATwo" name="question6" value="5">
                <label for="qSixATwo">Strong beer or strong wine or liqueur</label>
                
                <input type="radio" id="qSixAThree" name="question6" value="10">
                <label for="qSixAThree">Strong alcoholic drinks</label>

                <input type="submit" value="Submit 3 questions" class="submit">
            </form>
        </section>       
    </main>
    <script src="js/script.js"></script>
</body>
