* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fjalla One", "Open Sans", sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
}

header{
    background:linear-gradient(to bottom, #DD9632 5%, #B07828 100%);
    background-color:#DD9632;
    padding: 1em;
    text-align: center;
    margin-bottom: 1em;
}

section{
    margin: 1em;
    text-align: center;
}

h2{
    margin-bottom: 1em;
    text-align: center;
}

h3{
    margin-top: 1em;
    margin-bottom: 1em;
}

.login {
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.login label{
    height: 2em;
    min-width: 30%;
}

.login input{
    text-align: center;
    height: 2em;
    margin-bottom: 1em;
    border-radius: 5px;
    min-width: 60%;
    border: none;
    background-color: #e8f0fe;

}

.login .formButton{
    border: none;
    height: 2em;
    border-radius: 5px;
    width: 100%;
    justify-self: right;
}

.register {
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.register input{
    height: 2em;
    margin-right: 2em;
    margin-left: .5em;
    margin-bottom: 1em;
    border-radius: 5px;
    border: none;
    background-color: #e8f0fe;
    min-width: 40%;
    color: black;
}

.register label{
    height: 2em;
    min-width: 35%;
}

.register .formButton{
    border: none;
    height: 2em;
    border-radius: 5px;
    width: 100%;
    justify-self: right;
}

.survey{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.survey h3{
    min-width: 100%;
}

.survey label{
    margin-bottom: 1em;
    margin-right: 1em;
    min-width: 90%;
    border: .1em solid white;
}

.survey input{
    opacity: 0;
}

.survey input:focus + label{
    border: .1em solid black;
}

.survey label:hover{
    border: .1em solid black;
}


.survey input:checked + label{
    background-color: #DD9632;
}

.form{
    opacity: 1;
    height: 100%;
    visibility: visible;
    transition: all .5s ease-in;
}

.noShow{
    height: 0;
    visibility: hidden;
    opacity: 0;
}

.survey .submit{
    opacity: 1;
}

button, input[type="submit"], a {
    align-self: center;
	box-shadow: 0px 10px 14px -7px #DD9632;
	background:linear-gradient(to bottom, #DD9632 5%, #B07828 100%);
    background-color:#DD9632;
    border: none;
	border-radius:8px;
	cursor:pointer;
	font-size:20px;
	padding:13px 32px;
    text-decoration:none;
    color: black;
}
button:hover, input[type="submit"]:hover, a:hover {
	background:linear-gradient(to bottom, #B07828 5%, #DD9632 100%);
    background-color:#DD9632;
    border: none;
}
button:active, input[type="submit"]:active, a:active {
    border: none;
	position:relative;
	top:1px;
}

a{
    margin-bottom: 4em;
}

.noJS{
    display: none;
}